
	<!-- Slider-Section-End  -->
	<!-- Product-Section-Strat  -->
	<section class="product_area section-padding" id="package">
		<div class="padding_right main_single_product">
			<div class="single_product">
				<div class="product_img">
					<img src="{{static '/img/product/tre-shirt-1.png'}}" alt="DARK BLUE IMAGE" />
				</div>
				<div class="product_text dark_product">
					<h1>野生Honey & 月套餐</h1>
				</div>
			</div>
		</div>
		<div class="padding_left main_single_product">
			<div class="single_product single_product_two">
				<div class="product_img">
					<img src="{{static '/img/product/tre-shirt-1.png'}}" alt="DARK BLUE IMAGE" />
				</div>
				<div class="product_text_two product_text">
					<h1>蜂蜜月套餐</h1>
					<p>纯度: 100%</p>
					<p>防腐剂及其它添加剂: 0%</p>
					<p>采自云南缅甸深山, 非人工养殖</p>
					<p>品种: 随机/月送</p>

                    <p>成熟度: 成熟蜜</p>
                    <p>建议: 20g/天</p>
					<p>价格: 230RMB/600g</p>

					<a class="shop_now_btn" href="#">去购买</a>
				</div>
			</div>
		</div>
		<div class="padding_right main_single_product section-padding-top">
			<div class="single_product single_product_two">
				<div class="product_img tre_shirt_2">
								<img src="{{static '/img/product/tre-shirt-2.png'}}" alt="DARK BLUE IMAGE" />
				</div>
				<div class="product_text_two tre_shirt_2_text product_text">
                    <h1>Season Delivery</h1>
                    <p>纯度: 100%</p>
                    <p>防腐剂及其它添加剂: 0%</p>
                    <p>采自云南缅甸深山, 非人工养殖</p>
                    <p>品种: 随机</p>
                    <p>订购: 季度送</p>
                    <p>成熟度: 成熟蜜</p>
                    <p>建议: 20g/天</p>
                    <p>PRICE: 600RMB/600g*3</p>
                    <a class="shop_now_btn" href="#">去购买</a>
				</div>
			</div>
		</div>
		<div class="padding_left main_single_product section-padding-top">
			<div class="single_product">
				<div class="product_img tre_shirt_2">
							<img src="{{static '/img/product/tre-shirt-2.png'}}" alt="DARK BLUE IMAGE" />
				</div>
				<div class="product_text dark_product">
					<h1>野生Honey & 季套餐</h1>
				</div>
			</div>
		</div>
		<div class="padding_right main_single_product section-padding-top">
			<div class="single_product">
				<div class="product_img tre_shirt_3">
					<img src="{{static '/img/product/tre-shirt-3.png'}}" alt="DARK BLUE IMAGE" />
				</div>
				<div class="product_text dark_product">
					<h1>野生Honey & 试用</h1>
				</div>
			</div>
		</div>
		<div class="padding_left main_single_product section-padding-top">
			<div class="single_product single_product_two">
				<div class="product_img tre_shirt_3">
					<img src="{{static '/img/product/tre-shirt-3.png'}}" alt="DARK BLUE IMAGE" />
				</div>
				<div class="product_text_two product_text">
                    <h1>One Delivery</h1>
                    <p>纯度: 100%</p>
                    <p>防腐剂及其它添加剂: 0%</p>
                    <p>采自云南缅甸深山, 非人工养殖</p>
                    <p>品种: 随机</p>
                    <p>成熟度: 成熟蜜</p>
                    <p>PRICE: Free(邮费自理,10元)</p>
                    <a class="shop_now_btn" href="#">去购买</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Product-Section-End  -->
	<!-- Choose-Section-Strat  -->
	<section class="choose_area section-padding" id="why_choose_us">
		<div class="container">
			<div class="choose_area_text text-center">
				<div class="choose_title">
				<h2>为什么选择我们 ?</h2>
				</div>
				<div class="choose_text">
					<i class="flaticon-lightbulbs"></i>
					<h5><a href="#">源头把控</a></h5>
					<div class="text_p">
						<p>我们的产品从野生蜂巢的采摘,过滤杂质及送到您手上,全部由我们全程参与并监控,切实保障蜂蜜的不惨假及安全</p>
					</div>
				</div>
				<div class="choose_text choose_active">
					<i class="flaticon-sticker3"></i>
					<h5><a href="#">营养保全</a></h5>
					<div class="text_p">
						<p>我们的蜂蜜全手工过滤,并尽量减少营养的流失。在保障纯正野生蜂蜜的同时,确保比市面所售同类产品营养价值更高</p>
					</div>
				</div>
				<div class="choose_text">
					<i class="flaticon-tshirt17"></i>
					<h5><a href="#">30天无理由退货</a></h5>
					<div class="text_p">
						<p>对产品的极度追求使我们可以保证我们的产品比市面其他产品更优秀,我们有信心认为这是您见过的最好的产品</p>
					</div>
				</div>
			</div>
			<div class="choose_btn text-center">
				<a class="shop_now_btn" href="#">去购物</a>
			</div>
		</div>
	</section>
	<!-- Choose-Section-End  -->
	<!--&lt;!&ndash; Review-Section-Strat  &ndash;&gt;-->
	<!--<section class="review_area section-padding">-->
		<!--<div class="container">-->
			<!--<div class="review_text text-center">-->
				<!--<div class="review_title">-->
					<!--<h2>CUSTOMER REVIEW</h2>-->
				<!--</div>-->
				<!--<div id="review_carousel_1" class="carousel slide" data-ride="carousel">-->
					<!--<ol class="carousel-indicators slider_indicators">-->
						<!--<li data-target="#review_carousel_1" data-slide-to="0" class="active"></li>-->
						<!--<li data-target="#review_carousel_1" data-slide-to="1"></li>-->
						<!--<li data-target="#review_carousel_1" data-slide-to="2"></li>-->
					<!--</ol>-->
					<!--<div class="carousel-inner" role="listbox">-->
						<!--<div class="item active">-->
							<!--<div class="single_review">-->
								<!--<img src="{{!static '/img/review/person1.jpg'}}" alt="" />-->
								<!--<h5><a href="#">Michelle Wilson</a></h5>-->
								<!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's</p>-->
								<!--<div class="review_line"></div>-->
								<!--<div class="review_icon">-->
									<!--<i>“</i>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="item">-->
							<!--<div class="single_review">-->
								<!--<img src="{{!static '/img/review/person2.jpg'}}" alt="" />-->
								<!--<h5><a href="#">Michelle Wilson</a></h5>-->
								<!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's</p>-->
								<!--<div class="review_line"></div>-->
								<!--<div class="review_icon">-->
									<!--<i>“</i>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="item">-->
							<!--<div class="single_review">-->
								<!--<img src="{{!static '/img/review/person3.jpg'}}" alt="" />-->
								<!--<h5><a href="#">Michelle Wilson</a></h5>-->
								<!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's</p>-->
								<!--<div class="review_line"></div>-->
								<!--<div class="review_icon">-->
									<!--<i>“</i>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</section>-->
	<!-- Review-Section-End  -->
	<!-- Compare-Section-Strat  -->
	<section class="compare_area section-padding" id="compare">
		<div class="container">
			<div class="review_text text-center">
				<div class="compare_title">
					<h2>产品对比图表</h2>
					<p>对比市面产品和我们的特色</p>
				</div>
				<div class="compare_menu col-text-center">
					<ul class="nav nav-tabs items_ul" role="tablist" id="myTab">
					  <li role="presentation"><a href="#features" aria-controls="features" role="tab" data-toggle="tab">独有特色</a></li>
					  <li role="presentation" class="active"><a href="#tech" aria-controls="tech" role="tab" data-toggle="tab">产品对比</a></li>
					  <li role="presentation"><a href="#guarantee" id="com_3" aria-controls="guarantee" role="tab" data-toggle="tab">质量保证</a></li>
					</ul>
				</div>
				<div class="tab-content items_tab">
					<div role="tabpanel" class="tab-pane fade in items_pane" id="features">
						<div class="features_box">
							<div class="single_features border_bot">
								<i class="flaticon-lightbulbs"></i>
								<div class="features_text">
									<h5><a href="#">S2C模式保证食源安全</a></h5>
									<p>应用S2C模式掌控从源头到客户的每一条流程,确保最终送到客户手中的食品安全纯正</p>
								</div>
							</div>
							<div class="single_features border_bot border_left">
								<i class="fa fa-diamond"></i>
								<div class="features_text">
									<h5><a href="#">拒绝农药化肥重金属</a></h5>
									<p>网站出售皆为0农药0化肥0重金属的食品, 专为解决中国食品安全而生</p>
								</div>
							</div>
							<div class="single_features">
								<i class="fa fa-cogs"></i>
								<div class="features_text">
									<h5><a href="#">产量有限</a></h5>
									<p>由于网站出售蜂蜜均为非人工养殖产品,产量受限,并为把控品质, 根据销售情况,网站时而会出现缺货状态,请谅解</p>
								</div>
							</div>
							<div class="single_features border_left">
								<i class="flaticon-tshirt17"></i>
								<div class="features_text">
									<h5><a href="#">对食品安全偏执追求</a></h5>
									<p>团队成员均为食品安全偏执狂,对食品的纯度及品质严格把关, 具有较好的产品的质量把控能力</p>
								</div>
							</div>
						</div>
						<div class="disclaimer text-left section-padding-top">
							<h5>申明【Disclaimer】</h5>
							<i class="fa fa-dot-circle-o"></i>
							<p>试用仅限第一次购买用户,并试用产品不提供退货服务</p>
							<i class="fa fa-dot-circle-o"></i>
							<p>由于产品非 工业化生产 的标准产品, 产品会有稍许花粉等杂质为正常现象,不影响使用</p>

                            <i class="fa fa-dot-circle-o"></i>
							<p class="promo_p">蜂蜜食用建议每天20g左右,关于糖尿病患者或临床不能吃糖及蜂蜜的患者建议在医生建议下服务,否则出现问题暂不负责</p>
							<i class="fa fa-dot-circle-o"></i>
							<p>如企业用户请直接联系微信客服</p>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade in active items_pane" id="tech">
						<div class="table-responsive">
							<table id="home_table">
								<tr>
									<th>参数</th>
									<th>我们</th>
									<th>个人蜂蜜</th>
									<th>企业蜂蜜</th>
								</tr>
								<tr>
									<td>源头</td>
									<td>云南等深山,原始深林,未受污染地区</td>
									<td>蜂农或自家养</td>
									<td>蜂农收购</td>
								</tr>
								<tr>
									<td>激素及其它</td>
									<td>0%: 野生,未有人工参与</td>
									<td>60%: 可能性</td>
									<td>80%: 可能性</td>
								</tr>
								<tr>
									<td>惨假</td>
									<td>0%: 严格把控, 不可能有惨假</td>
									<td>30%: 关注短期利益</td>
									<td>80%: 80%以上是非纯蜂蜜,甚至假货</td>
								</tr>
								<tr>
									<td>成熟度</td>
									<td>100%: 严格把控,只收成熟蜜</td>
									<td>60%: 短期利益严重</td>
									<td>85%: 为提高产量,采非成熟蜜</td>
								</tr>
								<tr>
									<td>蜜源</td>
									<td>深山野林</td>
									<td>家养</td>
									<td>蜂农采购</td>
								</tr>
								<!--<tr>-->
									<!--<td>其他</td>-->
									<!--<td>Roun</td>		-->
									<!--<td>Kuff Neck</td>-->
									<!--<td>Round Fit</td>-->
								<!--</tr>-->
								<!--<tr>-->
									<!--<td>SLEEves</td>-->
									<!--<td>Long Sleeves</td>		-->
									<!--<td>Half Sleeves</td>-->
									<!--<td>Semi Half Sleeves</td>-->
								<!--</tr>-->
							</table>
						</div>
						<div class="disclaimer text-left section-padding-top">
                            <h5>申明【Disclaimer】</h5>
                            <i class="fa fa-dot-circle-o"></i>
                            <p>试用仅限第一次购买用户,并试用产品不提供退货服务</p>
                            <i class="fa fa-dot-circle-o"></i>
                            <p>由于产品非 工业化生产 的标准产品, 产品会有稍许花粉等杂质为正常现象,不影响使用</p>

                            <i class="fa fa-dot-circle-o"></i>
                            <p class="promo_p">蜂蜜食用建议每天20g左右,关于糖尿病患者或临床不能吃糖及蜂蜜的患者建议在医生建议下服务,否则出现问题暂不负责</p>
                            <i class="fa fa-dot-circle-o"></i>
                            <p>如企业用户请直接联系微信客服</p>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade in items_pane" id="guarantee">
						<div class="guarantee_box">
							<div class="guarantee_features">
								<img src="{{static '/img/guarantee-icon.png'}}" alt="" />
								<div class="features_text guarantee_text">
									<h5><a href="#">质量保证</a></h5>
									<p>我们的蜂蜜产品均为野生蜂蜜,并保证不会惨任何其他成分,无防腐剂及其他任何成分。如您发现我们的产品非实,请及时联系我们,我们会提供原价5倍全额赔偿,具体详情请联系客服.</p>
								</div>
							</div>
						</div>
						<div class="disclaimer text-left section-padding-top">
                            <h5>申明【Disclaimer】</h5>
                            <i class="fa fa-dot-circle-o"></i>
                            <p>试用仅限第一次购买用户,并试用产品不提供退货服务</p>
                            <i class="fa fa-dot-circle-o"></i>
                            <p>由于产品非 工业化生产 的标准产品, 产品会有稍许花粉等杂质为正常现象,不影响使用</p>

                            <i class="fa fa-dot-circle-o"></i>
                            <p class="promo_p">蜂蜜食用建议每天20g左右,关于糖尿病患者或临床不能吃糖及蜂蜜的患者建议在医生建议下服务,否则出现问题暂不负责</p>
                            <i class="fa fa-dot-circle-o"></i>
                            <p>如企业用户请直接联系微信客服</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Compare-Ection-End  -->


	<!-- All js Files Here -->
	<!-- jquery-1.11.3 -->
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- bootstrap js -->
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<!-- search-box js -->
    <script src="out/trial/js/search-box.js"></script>
	<!-- scrollUp js -->
    <script src="out/trial/js/jquery.scrollUp.js"></script>
	<!-- mobilemenu js -->
    <script src="out/trial/js/jquery.meanmenu.js"></script>
	<!-- main js -->
    <script src="out/trial/js/main.js"></script>
